* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;

    width: 100%;
    padding: 1em;
    background: #DEAF84;
}

.header p {
    font-size: 30px;
    display: flex;
    font-family: cursive;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    height: 10em;
    width: 40%;
}

.bookshelf {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    background-color: #3D2412;
}

.shelf {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    width: 95%;
    height: 12em;
    margin-top: 2em;
    background-color: #895129;
}

.shelf li {
    width: 300px;
    padding: 5px 10px;
    margin-left: 20px;
    list-style: none;

    border-top: .2em solid gray;
    border-left: .2em solid gray;
    border-bottom: .2em solid gray;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    background-color: white;
}

.shelf:last-of-type {
    margin-bottom: 2em;
}

.label {
    display:flex;
    align-items: center;

    color: white;
}

a:link,
a:visited {
    color: black;
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
}

@media only screen and (min-width: 401px) {
    .shelf {
        width: 47.5%;
    }
}