* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 1em;
    background: #DEAF84;
}

.nav {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    justify-content: space-evenly;
}

.nav > li {
    list-style: none;
    display: inline;
}

.nav li:first-of-type {
    margin-right: 5em;
}

.nav p {
    font-size: 2em;
    display: flex;
    margin-bottom: 1em;
}

.logo {
    display: flex;
    justify-content: center;
    height: 10em;
    width: 40%;
}

.bookshelf {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    background-color: #3D2412;
}

.shelf {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    width: 95%;
    height: 12em;
    margin-top: 2em;
    background-color: #895129;
}

.shelf li {
    width: 300px;
    padding: 5px 10px;
    margin-left: 20px;
    list-style: none;

    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    background-color: white;
}

.shelf:last-of-type {
    margin-bottom: 2em;
}

.senior li {
    border-top: .2em solid lightblue;
    border-left: .2em solid lightblue;
    border-bottom: .2em solid lightblue;
}

.junior li {
    border-top: .2em solid lightgreen;
    border-left: .2em solid lightgreen;
    border-bottom: .2em solid lightgreen;
}

.soph li {
    border-top: .2em solid lightgray;
    border-left: .2em solid lightgray;
    border-bottom: .2em solid lightgray;
}

.fresh li {
    border-top: .2em solid lightpink;
    border-left: .2em solid lightpink;
    border-bottom: .2em solid lightpink;
}

.label {
    display:flex;
    align-items: center;

    color: black;
    background-color: silver;
    border-radius: .5em;
    padding: .2em;
    position: relative;
    top: 1.75em;
}

a:link,
a:visited {
    color: black;
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
}

@media only screen and (min-width: 401px) {
    .shelf {
        width: 47.5%;
    }
}